{% extends 'practice/base.html' %}
{% block title %}<title>PPLz</title>{% endblock %}
{% block content %}
<div class='container'>
  <h1 class='text-center' style="font-size: 60px;">PPLz</h1>
  <p class='lead text-center font-italic'>
    easily manage all your people
  </p>
  <h2>
    <a class='btn btn-outline-primary' href="{% url 'practice:add_detail' %}" style='width: 80px;'>Add</a>
  </h2>
  <h2>
    <table class='table'>
      <thead class='font-weight-bolder' style='font-size: 20px;'>
        <tr>
          <th scope='col'>Name</th>
          <th scope='col'>Age</th>
          <th scope='col'>Phone Number</th>
          <th scope='col'>Email</th>
          <th scope='col'></th>
        </tr>
      </thead>
      <tbody class='font-weight-normal' style='font-size: 20px;'>
        {% for object in objects %}
        <tr>
          <td><a class="text-decoration-none" href="{% url 'practice:edit_detail' id=object.id %}">{{ object.name }}</a>
          </td>
          <td>{{ object.age }}</td>
          <td>{{ object.phone_number }}</td>
          <td>{{ object.email }}</td>
          <td><a class="text-decoration-none" href="{% url 'practice:delete_detail' id=object.id %}">delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </h2>
</div>
{% endblock %}